@charset "UTF-8";
/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

address {
  font-style: inherit;
}

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

table {
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

[type='checkbox'] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type='radio'] {
  -webkit-appearance: radio;
  appearance: radio;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

textarea {
  overflow: auto;
}

/*--------------------
  basic
--------------------*/
/* font */
html {
  font-size: 100%;
}

body {
  color: #310707;
  font-family: "Zen Maru Gothic", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Meiryo UI", "メイリオ", sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  -webkit-text-size-adjust: none;
  position: relative;
}

/* link */
a {
  color: #310707;
  text-decoration: none;
}

/*--------------------
  module
--------------------*/
.header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  z-index: 1;
}
@media screen and (max-width: 900px) {
  .header {
    height: 20vw;
    padding: 2vw;
  }
}

.headerLogo {
  width: 36vw;
}
@media screen and (min-width: 901px) {
  .headerLogo {
    width: 180px;
  }
}
.headerLogo > a {
  display: block;
}
.headerLogo img {
  width: 100%;
}

@media screen and (min-width: 901px) {
  .menuCtrl {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .menuCtrl {
    width: 15vw;
    padding: 3vw;
    background-color: #310707;
    border-radius: 4px;
    z-index: 1;
  }
  .menuCtrl input[type='checkbox'] {
    display: none;
  }
  .menuCtrl input[type='checkbox']:checked + .menuCtrlBtn .menuCtrlLine {
    transform-origin: center;
  }
  .menuCtrl input[type='checkbox']:checked + .menuCtrlBtn .menuCtrlLine:first-child, .menuCtrl input[type='checkbox']:checked + .menuCtrlBtn .menuCtrlLine:last-child {
    opacity: 0;
  }
  .menuCtrl input[type='checkbox']:checked + .menuCtrlBtn .menuCtrlLine:nth-child(2) {
    transform: rotate(45deg);
  }
  .menuCtrl input[type='checkbox']:checked + .menuCtrlBtn .menuCtrlLine:nth-child(3) {
    transform: rotate(-45deg);
  }
}

.menuCtrlLine {
  fill: #fff;
  transition: all 0.3s;
}

.gnav {
  display: flex;
}
@media screen and (max-width: 900px) {
  .gnav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }
}

.menuCtrl:has(input[type='checkbox']:checked) + .gnav {
  visibility: visible;
  opacity: 1;
}

.gnavList {
  display: flex;
}
@media screen and (max-width: 900px) {
  .gnavList {
    flex-direction: column;
    align-items: center;
    gap: 3.5vw;
    font-size: 3.5vw;
  }
}
@media screen and (min-width: 901px) {
  .gnavList {
    align-items: center;
    gap: 1rem;
  }
}

.gnavItem {
  color: #310707;
  font-weight: bold;
}

@media screen and (min-width: 901px) {
  .gnavItem__btn {
    margin-left: 0.5rem;
  }
}
@media screen and (max-width: 900px) {
  .gnavItem__btn {
    margin-top: 1.75vw;
  }
}

@media screen and (min-width: 901px) {
  .main {
    padding-bottom: 105px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
}
@media screen and (min-width: 901px) {
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    align-items: center;
    padding: 10px;
  }
}
@media screen and (max-width: 900px) {
  .footer {
    padding: 5vw;
  }
}

.footerContents {
  display: flex;
}
@media screen and (min-width: 901px) {
  .footerContents {
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 900px) {
  .footerContents {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .footerBlock01 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footerTitle {
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  .footerTitle {
    padding-block: 1em;
  }
}

.footerSNS {
  display: flex;
  gap: 0.5rem;
  padding-block: 0.5rem;
}

.footerSNSItem {
  width: 1.5rem;
}

.footerNavi {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 900px) {
  .footerNavi {
    flex-direction: column;
    align-items: center;
    padding-block: 1rem 2rem;
  }
}

.footerNaviItem {
  font-size: 0.8rem;
  font-weight: bold;
}

.footerCopy {
  font-size: 0.6rem;
  text-align: center;
}

.pageTop {
  position: fixed;
  right: 0;
  bottom: 0;
}
@media screen and (min-width: 901px) {
  .pageTop {
    width: 120px;
  }
}
@media screen and (max-width: 900px) {
  .pageTop {
    width: 25vw;
  }
}
.pageTop > img {
  width: 100%;
}

.btn, .btn--type2, .btn--type2--color2 {
  display: block;
  padding: 0.8em 1em;
  border-radius: 4px;
  background-color: #FF840A;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}

.btn--type2, .btn--type2--color2 {
  padding: 1.5em;
  position: relative;
  padding-right: 3rem;
}
.btn--type2::after, .btn--type2--color2::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(/img/nikukyu_btn.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.btn--type2--color2 {
  background-color: #310707;
}

.section {
  padding-bottom: min(10vw, 3.75rem);
}

.secTitle {
  padding-block: min(10vw, 3.75rem);
  font-size: min(8vw, 2rem);
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.section__btnArea {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.subTitle {
  margin-bottom: 1em;
  font-size: min(6vw, 1.6rem);
  font-weight: bold;
}

.sTitle {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1rem;
  font-weight: bold;
}

/* wrapper */
.wrapper {
  width: 100%;
  overflow: hidden;
}

/* inner */
.inner {
  margin-inline: auto;
  padding-left: 5vw;
  padding-right: 5vw;
}
@media screen and (min-width: 901px) {
  .inner {
    max-width: 1440px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

/*--------------------
  toppage
--------------------*/
.topKV {
  position: relative;
  width: 100%;
  background-color: #F8F5EE;
  background-image: url(/img/nikukyu_bg.svg);
  background-repeat: no-repeat;
}
@media screen and (orientation: landscape) {
  .topKV {
    height: calc(100dvh - 100px);
    background-position: 0.5vw -0.2vw;
    background-size: 40%;
  }
}
@media screen and (orientation: portrait) {
  .topKV {
    height: calc(100dvh - 20vw);
    background-position: center 60%;
    background-size: 80%;
  }
}

.topKV__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2vw;
}
@media screen and (orientation: landscape) {
  .topKV__box {
    left: 4vw;
    top: 7vh;
  }
}
@media screen and (orientation: portrait) {
  .topKV__box {
    left: 50%;
    top: 35vh;
    transform: translateX(-50%);
  }
}

.topKV__lead {
  font-weight: bold;
  letter-spacing: 0.1em;
  white-space: nowrap;
}
@media screen and (orientation: landscape) {
  .topKV__lead {
    font-size: 2vw;
  }
}
@media screen and (orientation: portrait) {
  .topKV__lead {
    font-size: 4vw;
  }
}

@media screen and (orientation: landscape) {
  .topKV__btn {
    font-size: 2vw;
  }
}
@media screen and (orientation: portrait) {
  .topKV__btn {
    font-size: 4vw;
  }
}

.topKV__img01 {
  position: absolute;
  top: 0;
  right: 0;
  width: min(57vw, 830px);
}
.topKV__img01 > svg {
  width: 100%;
  height: auto;
}
@media screen and (orientation: portrait) {
  .topKV__img01 {
    height: 35vh;
    width: auto;
  }
  .topKV__img01 > svg {
    height: 100%;
    width: auto;
  }
}

.topKV__shap01 {
  position: absolute;
  top: 3%;
  right: 0;
}

.topKV__imgClip01 {
  position: absolute;
  top: 0;
  right: 0;
}

.topKV__img02 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: min(38vw, 570px);
}
.topKV__img02 > svg {
  width: 100%;
  height: auto;
}
@media screen and (orientation: portrait) {
  .topKV__img02 {
    height: 25vh;
    width: auto;
  }
  .topKV__img02 > svg {
    height: 100%;
    width: auto;
  }
}

.topKV__shap02 {
  position: absolute;
  bottom: 2%;
  left: 2%;
}

.topKV__imgClip02 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.topKV__scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: auto;
}
@media screen and (orientation: landscape) {
  .topKV__scroll {
    width: min(12vw, 150px);
    transform: translateX(-50%);
  }
}
@media screen and (orientation: portrait) {
  .topKV__scroll {
    width: min(40vw, 200px);
  }
}
.topKV__scroll > img {
  width: 100%;
}

.topKV__CTA {
  position: absolute;
}
@media screen and (orientation: landscape) {
  .topKV__CTA {
    bottom: 3vw;
    right: 3vw;
    width: min(12.5vw, 160px);
    height: min(12.5vw, 160px);
  }
  .topKV__CTA > a {
    font-size: min(1.5vw, 1.2rem);
  }
}
@media screen and (orientation: portrait) {
  .topKV__CTA {
    top: 55vh;
    left: 25vw;
    width: 25vw;
    font-size: 3vw;
  }
}
.topKV__CTA > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  background-color: #FF840A;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 1.5;
  position: relative;
}
.topKV__CTA::before {
  content: '';
  position: absolute;
  left: -5%;
  bottom: -5%;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FFD9B3;
}

.secAbout {
  background-color: #fff;
}

.secAbout__box {
  display: flex;
  gap: 2.5rem;
  width: 100%;
  margin-bottom: 2.5rem;
}
@media screen and (orientation: portrait) {
  .secAbout__box {
    flex-direction: column;
  }
}

.secAbout__txt {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.secAbout__img {
  flex: 1;
}
.secAbout__img > img {
  width: 100%;
  border-radius: 8px;
}

.secAbout__3points {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 900px) {
  .secAbout__3points {
    flex-direction: column;
  }
}

.secAbout__3pointsBox {
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #F8F5EE;
}

.secAbout__3pointsIcon {
  display: flex;
  justify-content: center;
}
.secAbout__3pointsIcon > img {
  width: 45px;
  height: auto;
}

.secAbout__3pointsTitle {
  padding-block: 1rem;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .secAbout__3pointsTxt {
    font-size: min(2.7vw, 1rem);
    text-align: center;
  }
}

.secCats {
  background-color: #F8F5EE;
}

@media screen and (min-width: 901px) {
  .secCats__wrapper {
    padding-inline: 4rem;
  }
}
@media screen and (max-width: 900px) {
  .secCats__wrapper {
    padding-inline: 16vw;
  }
}
.secCats__wrapper .splide__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: #FF840A;
  border-radius: 4px;
  aspect-ratio: 1 / 1;
}
@media screen and (min-width: 901px) {
  .secCats__wrapper .splide__arrow {
    width: 3rem;
    height: 3rem;
  }
}
@media screen and (max-width: 900px) {
  .secCats__wrapper .splide__arrow {
    width: 12vw;
    height: 12vw;
  }
}
.secCats__wrapper .splide__arrow > img {
  position: absolute;
  place-self: center;
  inset: 0;
  width: 60%;
  height: auto;
}
@media screen and (min-width: 901px) {
  .secCats__wrapper .splide__arrow--prev {
    left: -4em;
  }
}
@media screen and (max-width: 900px) {
  .secCats__wrapper .splide__arrow--prev {
    left: -16vw;
  }
}
.secCats__wrapper .splide__arrow--prev > img {
  transform: rotate(-90deg);
}
@media screen and (min-width: 901px) {
  .secCats__wrapper .splide__arrow--next {
    right: -4em;
  }
}
@media screen and (max-width: 900px) {
  .secCats__wrapper .splide__arrow--next {
    right: -16vw;
  }
}
.secCats__wrapper .splide__arrow--next > img {
  transform: rotate(90deg);
}

.secCats__item > a {
  display: block;
}

.secCats__img {
  position: relative;
  aspect-ratio: 1 / 1;
}
.secCats__img > img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.secCats__img::before {
  content: '';
  position: absolute;
  top: 4%;
  left: -4%;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #FFD9B3;
  border-radius: 50%;
}

.secCats__name {
  margin-top: 1em;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.secCats__prof {
  text-align: center;
}

.secPrice {
  background-size: cover;
  background-position: top left;
}
@media screen and (min-width: 901px) {
  .secPrice {
    background-image: url(/img/bg_nikukyu.png);
  }
}
@media screen and (max-width: 900px) {
  .secPrice {
    background-image: url(/img/bg_nikukyu_sp.png);
  }
}

@media screen and (min-width: 901px) {
  .secPrice__contents {
    display: grid;
    grid-template-rows: 12rem auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    max-width: 920px;
    margin-inline: auto;
  }
}
@media screen and (max-width: 900px) {
  .secPrice__contents {
    margin-inline: 5vw;
  }
}

.secPrice__priceBox {
  background-color: #F8F5EE;
  border-radius: 8px;
}
@media screen and (min-width: 901px) {
  .secPrice__priceBox {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    padding: 2rem;
  }
}
@media screen and (max-width: 900px) {
  .secPrice__priceBox {
    margin-bottom: 5vw;
    padding: 5vw;
  }
}

.secPrice__table {
  width: 100%;
}
.secPrice__table th,
.secPrice__table td {
  padding-block: 0.25em;
}
.secPrice__table th {
  text-align: left;
  font-weight: normal;
}
.secPrice__table td {
  text-align: center;
}
.secPrice__table .priceCol {
  width: 25%;
}
.secPrice__table:not(:last-child) {
  margin-bottom: 1.5rem;
}

.secPrice__menuImg {
  border-radius: 8px;
  overflow: hidden;
}
@media screen and (min-width: 901px) {
  .secPrice__menuImg {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}
@media screen and (max-width: 900px) {
  .secPrice__menuImg {
    margin-bottom: 5vw;
  }
}
.secPrice__menuImg > img {
  object-fit: cover;
}

.secPrice__menuBox {
  background-color: #FFD9B3;
  border-radius: 8px;
}
@media screen and (min-width: 901px) {
  .secPrice__menuBox {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 2rem;
  }
}
@media screen and (max-width: 900px) {
  .secPrice__menuBox {
    padding: 5vw;
  }
}

@media screen and (min-width: 901px) {
  .secPrice__att {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
  }
}

.secPrice__att {
  text-align: right;
}
@media screen and (min-width: 901px) {
  .secPrice__att {
    margin-top: -1rem;
  }
}

.secNotice {
  background-color: #F8F5EE;
  background-image: url(/img/shape3.svg), url(/img/shape4.svg);
  background-repeat: no-repeat;
  background-position: right top, left bottom;
}
@media screen and (max-width: 900px) {
  .secNotice {
    background-size: 50%;
  }
}

.secNotice__list {
  background-color: #fff;
  border-radius: 8px;
  font-weight: bold;
}
@media screen and (min-width: 901px) {
  .secNotice__list {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 7rem 1fr;
    gap: 0.5rem;
    max-width: 920px;
    margin-inline: auto;
    padding: 2rem;
  }
}
@media screen and (max-width: 900px) {
  .secNotice__list {
    margin-inline: 5vw;
    padding: 5vw;
  }
}

@media screen and (max-width: 900px) {
  .secNotice__title:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

.secInquiry {
  background-color: #FFD9B3;
}
@media screen and (min-width: 901px) {
  .secInquiry {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 901px) {
  .secInquiry__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 920px;
    margin-inline: auto;
  }
}

.secInquiry__btnArea {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
