@charset "UTF-8";
/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

address {
  font-style: inherit;
}

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

table {
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

[type='checkbox'] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type='radio'] {
  -webkit-appearance: radio;
  appearance: radio;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

textarea {
  overflow: auto;
}

/*--------------------
  basic
--------------------*/
/* font */
html {
  font-size: 100%;
}

body {
  color: #310707;
  font-family: "Zen Maru Gothic", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Meiryo UI", "メイリオ", sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  -webkit-text-size-adjust: none;
}

/* link */
a {
  color: #310707;
  text-decoration: none;
}

/*--------------------
  layout
--------------------*/
/* wrapper */
.wrapper {
  width: 100%;
  overflow: hidden;
}

/* inner */
.inner {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-left: 4vw;
  padding-right: 4vw;
}
@media screen and (min-width: 901px) {
  .inner {
    max-width: 1440px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* header */
/* footer */
/* main */
/* section */
.section01:not(:first-child) {
  margin-top: 6.5rem;
}

.section02:not(:first-child) {
  margin-top: 3rem;
}

.section03:not(:first-child) {
  margin-top: 1.8rem;
}

/* column layout */
/*--------------------
  module
--------------------*/
.header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  z-index: 1;
}
@media screen and (max-width: 900px) {
  .header {
    height: 20vw;
    padding: 2vw;
  }
}

.headerLogo {
  width: 36vw;
}
@media screen and (min-width: 901px) {
  .headerLogo {
    width: 180px;
  }
}
.headerLogo > a {
  display: block;
}
.headerLogo img {
  width: 100%;
}

@media screen and (min-width: 901px) {
  .menuCtrl {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .menuCtrl {
    width: 15vw;
    padding: 3vw;
    background-color: #310707;
    border-radius: 4px;
    z-index: 1;
  }
  .menuCtrl input[type='checkbox'] {
    display: none;
  }
  .menuCtrl input[type='checkbox']:checked + .menuCtrlBtn .menuCtrlLine {
    transform-origin: center;
  }
  .menuCtrl input[type='checkbox']:checked + .menuCtrlBtn .menuCtrlLine:first-child, .menuCtrl input[type='checkbox']:checked + .menuCtrlBtn .menuCtrlLine:last-child {
    opacity: 0;
  }
  .menuCtrl input[type='checkbox']:checked + .menuCtrlBtn .menuCtrlLine:nth-child(2) {
    transform: rotate(45deg);
  }
  .menuCtrl input[type='checkbox']:checked + .menuCtrlBtn .menuCtrlLine:nth-child(3) {
    transform: rotate(-45deg);
  }
}

.menuCtrlLine {
  fill: #fff;
  transition: all 0.3s;
}

.gnav {
  display: flex;
}
@media screen and (max-width: 900px) {
  .gnav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
  }
}

.menuCtrl:has(input[type="checkbox"]:checked) + .gnav {
  visibility: visible;
  opacity: 1;
}

.gnavList {
  display: flex;
}
@media screen and (max-width: 900px) {
  .gnavList {
    flex-direction: column;
    align-items: center;
    gap: 3.5vw;
    font-size: 3.5vw;
  }
}
@media screen and (min-width: 901px) {
  .gnavList {
    align-items: center;
    gap: 1rem;
  }
}

.gnavItem {
  color: #310707;
  font-weight: bold;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  background-color: #fff;
}
@media screen and (min-width: 901px) {
  .footer {
    align-items: center;
  }
}
@media screen and (max-width: 900px) {
  .footer {
    padding: 2vw;
  }
}

.footerContents {
  display: flex;
}
@media screen and (min-width: 901px) {
  .footerContents {
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 900px) {
  .footerContents {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .footerBlock01 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footerTitle {
  font-weight: bold;
}

.footerSNS {
  display: flex;
  gap: 0.5rem;
  padding-block: 0.5rem;
}

.footerSNSItem {
  width: 1.5rem;
}

.footerNavi {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 900px) {
  .footerNavi {
    flex-direction: column;
    align-items: center;
    padding-block: 1rem 2rem;
  }
}

.footerNaviItem {
  font-size: 0.8rem;
  font-weight: bold;
}

.footerCopy {
  font-size: 0.6rem;
  text-align: center;
}

.btn {
  display: block;
  padding: 0.8rem 1rem;
  border-radius: 4px;
  background-color: #FF840A;
  color: #fff;
  text-align: center;
  line-height: 1;
}
@media screen and (min-width: 901px) {
  .btn {
    margin-left: 0.5rem;
  }
}
@media screen and (max-width: 900px) {
  .btn {
    margin-top: 1.75vw;
  }
}

/*--------------------
  toppage
--------------------*/
/*--------------------
  page
--------------------*/
