@charset "UTF-8";
/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

address {
  font-style: inherit;
}

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

table {
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

[type='checkbox'] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type='radio'] {
  -webkit-appearance: radio;
  appearance: radio;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

textarea {
  overflow: auto;
}

/*--------------------
  basic
--------------------*/
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  color: #310707;
  font-family: "Zen Maru Gothic", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Meiryo UI", "メイリオ", sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  -webkit-text-size-adjust: none;
  position: relative;
}

/* link */
a {
  color: #310707;
  text-decoration: none;
}

/*--------------------
  module
--------------------*/
.header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  z-index: 1;
}
@media screen and (max-width: 900px) {
  .header {
    height: 20vw;
    padding: 2vw;
  }
}

.headerLogo {
  width: 36vw;
}
@media screen and (min-width: 901px) {
  .headerLogo {
    width: 180px;
  }
}
.headerLogo > a {
  display: block;
}
.headerLogo img {
  width: 100%;
}

@media screen and (min-width: 901px) {
  .menuCtrl {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .menuCtrl {
    width: 15vw;
    padding: 3vw;
    background-color: #310707;
    border-radius: 4px;
    z-index: 1;
  }
  .menuCtrl input[type='checkbox'] {
    display: none;
  }
  .menuCtrl input[type='checkbox']:checked + .menuCtrlBtn .menuCtrlLine {
    transform-origin: center;
  }
  .menuCtrl input[type='checkbox']:checked + .menuCtrlBtn .menuCtrlLine:first-child, .menuCtrl input[type='checkbox']:checked + .menuCtrlBtn .menuCtrlLine:last-child {
    opacity: 0;
  }
  .menuCtrl input[type='checkbox']:checked + .menuCtrlBtn .menuCtrlLine:nth-child(2) {
    transform: rotate(45deg);
  }
  .menuCtrl input[type='checkbox']:checked + .menuCtrlBtn .menuCtrlLine:nth-child(3) {
    transform: rotate(-45deg);
  }
}

.menuCtrlLine {
  fill: #fff;
  transition: all 0.3s;
}

.gnav {
  display: flex;
}
@media screen and (max-width: 900px) {
  .gnav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }
}

.menuCtrl:has(input[type='checkbox']:checked) + .gnav {
  visibility: visible;
  opacity: 1;
}

.gnavList {
  display: flex;
}
@media screen and (max-width: 900px) {
  .gnavList {
    flex-direction: column;
    align-items: center;
    gap: 3.5vw;
    font-size: 3.5vw;
  }
}
@media screen and (min-width: 901px) {
  .gnavList {
    align-items: center;
    gap: 1rem;
  }
}

.gnavItem {
  color: #310707;
  font-weight: bold;
}

@media screen and (min-width: 901px) {
  .gnavItem__btn {
    margin-left: 0.5rem;
  }
}
@media screen and (max-width: 900px) {
  .gnavItem__btn {
    margin-top: 1.75vw;
  }
}

@media screen and (min-width: 901px) {
  .main {
    padding-bottom: 105px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
}
@media screen and (min-width: 901px) {
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    align-items: center;
    padding: 10px;
  }
}
@media screen and (max-width: 900px) {
  .footer {
    padding: 5vw;
  }
}

.footerContents {
  display: flex;
}
@media screen and (min-width: 901px) {
  .footerContents {
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 900px) {
  .footerContents {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .footerBlock01 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footerTitle {
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  .footerTitle {
    padding-block: 1em;
  }
}

.footerSNS {
  display: flex;
  gap: 0.5rem;
  padding-block: 0.5rem;
}

.footerSNSItem {
  width: 1.5rem;
}

.footerNavi {
  display: flex;
  gap: 1rem;
}
@media screen and (min-width: 901px) {
  .footerNavi {
    padding-right: 100px;
  }
}
@media screen and (max-width: 900px) {
  .footerNavi {
    flex-direction: column;
    align-items: center;
    padding-block: 1rem 2rem;
  }
}

.footerNaviItem {
  font-size: 0.8rem;
  font-weight: bold;
}

.footerCopy {
  font-size: 0.6rem;
  text-align: center;
}

.pageTop {
  position: fixed;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: .2s;
}
@media screen and (min-width: 901px) {
  .pageTop {
    width: 120px;
  }
}
@media screen and (max-width: 900px) {
  .pageTop {
    width: 20vw;
  }
}
.pageTop > img {
  width: 100%;
}
.pageTop.is-show {
  visibility: visible;
  opacity: 1;
}

.btn, .btn--type2, .btn--type2--color2 {
  display: block;
  padding: 0.8em 1em;
  border-radius: 4px;
  background-color: #FF840A;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}

.btn--type2, .btn--type2--color2 {
  padding: 1.5em;
  position: relative;
  padding-right: 3rem;
}
.btn--type2::after, .btn--type2--color2::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(/img/nikukyu_btn.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.btn--type2--color2 {
  background-color: #310707;
}

.section {
  padding-bottom: min(10vw, 3.75rem);
}

.secTitle {
  padding-block: min(10vw, 3.75rem);
  font-size: min(8vw, 2rem);
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.section__btnArea {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.subTitle {
  margin-bottom: 1em;
  font-size: min(6vw, 1.6rem);
  font-weight: bold;
}

.sTitle {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1rem;
  font-weight: bold;
}

/* wrapper */
.wrapper {
  width: 100%;
  overflow: hidden;
}

/* inner */
.inner {
  margin-inline: auto;
  padding-left: 5vw;
  padding-right: 5vw;
}
@media screen and (min-width: 901px) {
  .inner {
    max-width: 1440px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

/*--------------------
  page
--------------------*/
.pageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5em;
  color: #fff;
  font-size: min(8vw, 3rem);
  line-height: 1.2;
  background-size: cover;
  background-position: center center;
}

.breadcrumbs {
  display: flex;
  padding-block: 0.25rem;
  background-color: #F8F5EE;
}

.breadcrumbs__list {
  margin-inline: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  width: 100%;
  display: flex;
}
@media screen and (min-width: 901px) {
  .breadcrumbs__list {
    max-width: 1440px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.breadcrumbs__item {
  position: relative;
  font-size: min(3vw, 0.8rem);
}
.breadcrumbs__item:not(:last-child) {
  padding-right: 1em;
}
.breadcrumbs__item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0.25em;
  transform: translateY(-50%);
  display: block;
  width: 1em;
  height: 1em;
  background-image: url(/img/arrow_r.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}
.breadcrumbs__item > a {
  display: inline-block;
  padding-inline: 0.5em;
}

.subTitle {
  color: #310707;
  font-size: min(4vw, 1.4rem);
  font-weight: bold;
  line-height: 1.2;
}

.cats {
  background-color: #F8F5EE;
}

.pageTitle {
  background-image: url(/img/title_bg_cats.jpg);
}

.catfiltering {
  background-color: #FFD9B3;
}

.catfiltering__inner {
  margin-inline: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
  padding-block: min(2vw, 0.6rem);
}
@media screen and (min-width: 901px) {
  .catfiltering__inner {
    max-width: 1440px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.catfiltering__inner::after {
  content: '';
  position: absolute;
  left: 1rem;
  bottom: 0;
  width: min(16vw, 5rem);
  height: min(16vw, 5rem);
  background-image: url(/img/walkingcat.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}

.catfiltering__label {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: min(3vw, 0.9rem);
}
.catfiltering__label::after {
  content: '';
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-40%);
  display: block;
  width: 0.6em;
  height: 0.6em;
  background-image: url(/img/arrow_d.svg);
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}
.catfiltering__label > select {
  min-width: 10rem;
  padding: 0.6em 3em 0.6em 1em;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #310707;
  line-height: 1;
  cursor: pointer;
}
.catfiltering__label > select:focus {
  outline: 1px solid #ccc;
}

.catsList {
  margin-inline: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-block: min(10vw, 4rem);
}
@media screen and (min-width: 901px) {
  .catsList {
    max-width: 1440px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.catsList__item {
  display: block;
  opacity: 1;
  transition: all 0.3s;
}
@starting-style {
  .catsList__item {
    opacity: 0;
  }
}
@media screen and (min-width: 901px) {
  .catsList__item {
    width: calc((100% - 4rem) / 3);
  }
}
@media screen and (max-width: 900px) {
  .catsList__item {
    width: calc((100% - 2rem) / 2);
  }
}
@media screen and (max-width: 480px) {
  .catsList__item {
    width: 100%;
  }
}
.catsList__item.is-hidden {
  display: none;
  opacity: 0;
}
.catsList__item > a {
  position: relative;
  display: block;
  height: 100%;
  padding: min(4vw, 1rem);
  border-radius: 8px;
  background-color: #fff;
}
.catsList__item > a::after {
  content: '';
  position: absolute;
  right: min(4vw, 1rem);
  bottom: min(4vw, 1rem);
  display: block;
  width: min(15vw, 5rem);
  aspect-ratio: 1.3 / 1;
  background-image: url(/img/nikukyu2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.catsList__img > img {
  aspect-ratio: 4 / 3;
  border-radius: 8px;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.catsList__name {
  text-align: center;
  font-size: min(5.5vw, 1.5rem);
  font-weight: bold;
}

.catsList__catch {
  margin-top: 0.5em;
  font-size: min(5vw, 1.2rem);
  line-height: 1.4;
}

.catsList__prof {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
  margin-top: 0.5em;
}
.catsList__prof > dt {
  width: 30%;
  max-width: 6em;
  padding: 0.5em;
  border-radius: 4px;
  background-color: #FFD9B3;
  color: #310707;
  font-size: min(2.8vw, 0.8rem);
  text-align: justify;
  text-align-last: justify;
  line-height: 1;
  white-space: nowrap;
}
.catsList__prof > dd {
  width: calc(70% - 1em);
  line-height: 1;
}

.catName {
  padding: 1em;
  background-color: #FFD9B3;
  font-size: min(6vw, 2rem);
  text-align: center;
  line-height: 1.2;
}

.catDetail__wrapper {
  margin-inline: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-block: min(10vw, 4rem);
}
@media screen and (min-width: 901px) {
  .catDetail__wrapper {
    max-width: 1440px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.catProfile {
  position: relative;
  display: flex;
  border-radius: 16px;
  background-color: #fff;
}
@media screen and (min-width: 901px) {
  .catProfile {
    gap: 30px;
    padding: 30px;
  }
  .catProfile > * {
    flex: 1;
  }
}
@media screen and (max-width: 900px) {
  .catProfile {
    flex-direction: column;
    gap: 5vw;
    padding: 5vw;
  }
}
.catProfile::after {
  content: '';
  position: absolute;
  right: min(4vw, 1rem);
  bottom: min(4vw, 1rem);
  display: block;
  width: min(22.5vw, 7.5rem);
  aspect-ratio: 1.3 / 1;
  background-image: url(/img/nikukyu2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.catProfile__img > img {
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.catProfile__detail {
  position: relative;
  z-index: 1;
}

.catProfile__catch {
  margin-bottom: 1em;
  font-size: min(5vw, 1.5rem);
  line-height: 1.2;
}

.catProfile__prof {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: min(2.8vw, 0.8rem);
  margin-bottom: 1.25em;
}
.catProfile__prof > dt {
  width: 18%;
  max-width: 6em;
  padding: 0.5em;
  border-radius: 4px;
  background-color: #FFD9B3;
  color: #310707;
  text-align: justify;
  text-align-last: justify;
  line-height: 1;
  white-space: nowrap;
}
.catProfile__prof > dd {
  flex-grow: 1;
  line-height: 1;
  white-space: nowrap;
}

.catProfile__txt {
  position: relative;
  font-size: min(3.5vw, 1rem);
}
.catProfile__txt > p:not(:last-child) {
  margin-bottom: 1em;
}

.catPhotos {
  margin-top: 4rem;
}

.catPhotos__list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 901px) {
  .catPhotos__list {
    gap: 30px;
  }
}
@media screen and (max-width: 900px) {
  .catPhotos__list {
    gap: 5vw;
    flex-direction: row;
  }
}

@media screen and (min-width: 901px) {
  .catPhotos__item {
    flex-basis: calc((100% - (30px * 2)) / 3);
  }
}
@media screen and (max-width: 900px) {
  .catPhotos__item {
    flex-basis: 100%;
  }
}
.catPhotos__item > img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
}
