@charset 'utf-8';

// ------------------------------
//	settings
// ------------------------------

//color
$baseColor: #F8F5EE;
$subColor: #FFD9B3;
$accentColor: #FF840A;
$textColor:#310707;
$subTextColor: #2C2C2C;
$lightGray: #eaeaea;
$midGray: #cecece;
$darkGray: #666;
$white: #fff;
$black: #000;
$red: #f00;

//fonts
$fontFamily: 'Zen Maru Gothic','ヒラギノ丸ゴ ProN W4', 'Hiragino Maru Gothic ProN', 'ヒラギノ丸ゴ Pro W4', 'Hiragino Maru Gothic Pro','Meiryo UI', 'メイリオ', sans-serif;
$basicFontColor: $textColor;
$linkFontColor: $textColor;
$rootFontSize: 100%;
$fontSize: 1rem;
$lineHeight: 1.8;
$titleLineHeight: 1.2;

//responsive
$breakPointL: 1200px;
$breakPointM: 900px;
$breakPointS: 480px;
$pcMaxWidth: 1440px;
$pcPadding: 30px;
$pcPaddingL: 60px;
$spPadding: 4vw;

@mixin winSizeL {
  @media screen and (min-width:($breakPointL+1)){
    @content;
  }
}
@mixin winSizeM {
  @media screen and (min-width:($breakPointM+1)){
    @content;
  }
}
@mixin winSizeS {
  @media screen and (max-width:($breakPointM)){
    @content;
  }
}
@mixin winSizeSS {
  @media screen and (max-width:($breakPointS)){
    @content;
  }
}

//clearfix
@mixin clearfix() {
  &::after {
    content: '';
    clear: both;
    display: block;
  }
}

//inner
@mixin inner() {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-left: $spPadding;
  padding-right: $spPadding;
  @include winSizeM {
    max-width: $pcMaxWidth;
    padding-left: $pcPadding;
    padding-right: $pcPadding; 
  }
}

//arrow
@mixin arrowBase($top:50%,$size:.8rem) {
  content: '';
  position: absolute;
  top: $top;
  display: block;
  width: $size;
  height: $size;
  margin-top: -$size/2;
}
@mixin arrowR($right:0,$bdc:$white) {
  right: $right;
  border-top: 1px solid $bdc;
  border-right: 1px solid $bdc;
  transform: rotate(45deg);
}
@mixin arrowL($top:50%,$left:0,$bdc:$white) {
  left: $left;
  border-bottom: 1px solid $bdc;
  border-left: 1px solid $bdc;
  transform: rotate(45deg);
}

//table responsive
@mixin tableBlock() {
  > thead,
  > tbody,
  > tfoot,
  > thead > tr,
  > tbody > tr,
  > tfoot > tr,
  > thead > tr > th,
  > thead > tr > td, 
  > tbody > tr > th, 
  > tbody > tr > td,
  > tfoot > tr > th,
  > tfoot > tr > td {
    display: block;
  }
}

//object-fit
@mixin objectFit($w:100%,$h:100%,$of:cover) {
  width: $w;
  height: $h;
  object-fit: $of;
  font-family: 'object-fit: '+ $of +';';
}

//placeholder
@mixin placeholder($color:$midGray) {
  &::placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}

//parts margin
@mixin partsMargin($margin:1.5rem) {
  &:not(:first-child) {
    margin-top: $margin;
  }
}