@charset "utf-8";

/*--------------------
  toppage
--------------------*/
.topKV {
  position: relative;
  width: 100%;
  background-color: $baseColor;
  background-image: url(/img/nikukyu_bg.svg);
  background-repeat: no-repeat;
  @include winLandscape {
    height: calc(100dvh - 100px);
    background-position: 0.5vw -0.2vw;
    background-size: 40%;
  }
  @include winPortrait {
    height: calc(100dvh - 20vw);
    background-position: center 60%;
    background-size: 80%;
  }
}
.topKV__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2vw;
  @include winLandscape {
    left: 4vw;
    top: 7vh;
  }
  @include winPortrait {
    left: 50%;
    top: 35vh;
    transform: translateX(-50%);
  }
}
.topKV__lead {
  font-weight: bold;
  letter-spacing: 0.1em;
  white-space: nowrap;
  @include winLandscape {
    font-size: 2vw;
  }
  @include winPortrait {
    font-size: 4vw;
  }
}
.topKV__btn {
  @include winLandscape {
    font-size: 2vw;
  }
  @include winPortrait {
    font-size: 4vw;
  }
}
.topKV__img01 {
  position: absolute;
  top: 0;
  right: 0;
  width: min(57vw, 830px);
  > svg {
    width: 100%;
    height: auto;
  }
  @include winPortrait {
    height: 35vh;
    width: auto;
    > svg {
      height: 100%;
      width: auto;
    }
  }
}
.topKV__shap01 {
  position: absolute;
  top: 3%;
  right: 0;
}
.topKV__imgClip01 {
  position: absolute;
  top: 0;
  right: 0;
}
.topKV__img02 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: min(38vw, 570px);
  > svg {
    width: 100%;
    height: auto;
  }
  @include winPortrait {
    height: 25vh;
    width: auto;
    > svg {
      height: 100%;
      width: auto;
    }
  }
}
.topKV__shap02 {
  position: absolute;
  bottom: 2%;
  left: 2%;
}
.topKV__imgClip02 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.topKV__scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: auto;
  @include winLandscape {
    width: min(12vw, 150px);
    transform: translateX(-50%);
  }
  @include winPortrait {
    width: min(40vw, 200px);
  }
  > img {
    width: 100%;
  }
}
.topKV__CTA {
  position: absolute;
  @include winLandscape {
    bottom: 3vw;
    right: 3vw;
    width: min(12.5vw, 160px);
    height: min(12.5vw, 160px);
    > a {
      font-size: min(1.5vw, 1.2rem);
    }
  }
  @include winPortrait {
    top: 55vh;
    left: 25vw;
    width: 25vw;
    font-size: 3vw;
  }
  > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: $accentColor;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    line-height: 1.5;
    position: relative;
    z-index: 1;
  }
  &::before {
    content: '';
    position: absolute;
    left: -5%;
    bottom: -5%;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $subColor;
  }
}
